/* https://colorhunt.co/palette/09122c872341be3144e17564 */
:root {
	color-scheme: dark;
	accent-color: var(--accent);
	--light-accent: #E17564;
	--accent: #BE3144;
	--dark-accent: #872341;
	--blark: #09122C;
	--space-grey: #2e2e2e;
	--space-gray: #242424;
}

.northernProperty {
	/* https://colorhunt.co/palette/1235243e7b2785a947efe3c2 */
	--light-accent: #EFE3C2;
	--accent: #85A947;
	--dark-accent: #3E7B27;
	--blark: #123524;
}

.fountainRats {
	/* https://colorhunt.co/palette/f7f7f7ffb22c854836000000 */
	--light-accent: #F7F7F7;
	--accent: #FFB22C;
	--dark-accent: #854836;
	--blark: #000000;
}
.labyrinth {
	/* https://colorhunt.co/palette/f7f7f7ffb22c854836000000 */
	--light-accent: #FDFDFD;
	--accent: #7F7F7F;
	--dark-accent: #535353;
	--blark: #0B2B0D;
}
html {
	width: 100%;
	height: 100%;
}
body {
	color: var(--light-accent);
	background-color: var(--blark);
	transition: color .5s, background-color .5s;
	margin: 0;
	padding: 0;
	font-family: Georgia, Garamond, 'Times New Roman', Times, serif;
	display: flex;
	align-items: center;
	width: 100%;
	height: 100%;
	flex-direction: column;
}

#div {
	width: 600px;
	padding: 2em;
	background-color: var(--dark-accent);
	transition: background-color .5s;
	border-radius: 0.5em;
	resize: both;
}

button:not(:disabled){cursor: pointer;}

a {
	color: cyan;
	text-decoration: none;
}

nav a {
	color: var(--light-accent);
	transition: color .5s;
}


/* style.css | http://127.0.0.1:8000/escape/assets/style.css */
@media screen and (max-width: 700px) {
	div.cool-container-bro {
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		flex-direction: column;
		flex-direction: column;
	}
	div#div {
		width: 95%;
		box-sizing: border-box;
	}	
	.cool-container-bro > nav {
		margin-top: 3rem;
	}
}

  

#location {
	color: orange;
	font-style: italic;
	margin-top: 0;
}

@keyframes type {
	0% {
		opacity: 0;
		top: -10px;
		pointer-events: none;
	}
	99.99% {
		pointer-events: none;
	}
	100% {
		opacity: 1;
		top: 0;
		pointer-events: all;
	}
}
:root {
	--type-anim: type 0.1s both cubic-bezier(0, 0.47, 0.28, 1.54);
}

nav {
	color: var(--dark-accent);
	transition: color .5s;
	margin-top: 4rem;
	margin-bottom: 0.25rem;
	display: flex;
	justify-content: space-between;
	width: 100%;
	padding: 0 1.5rem;
	box-sizing: border-box;
}
.cool-container-bro {
	width: min-content;
	height: min-content;
}
#settings {
	max-width: 40%;
}
#speed-slider {
	accent-color: var(--dark-accent);
	max-width: 100%;
}
input[type="range"] {
	all: unset;
	transition: opacity 0.25s;
	opacity: 0.6;
}
input[type="range"]:hover {
	opacity: 1;
}
input[type="range"]::-moz-range-thumb {
	background-color: var(--accent);
	border: none;
}
input[type=range]::-webkit-slider-runnable-track {
	background-color: var(--space-gray);
	/* border: 2px solid var(--blark);
	box-sizing: border-box; */
	border-radius: 10px;
}
input[type="range"]::-moz-range-track {
	background-color: var(--space-gray);
}
input[type="range"]::-moz-range-progress {
	background-color: var(--dark-accent);
}

#password-input {
	padding: 0.25rem;
	font-family: Consolas, monospace;
	font-weight: bold;
	font-size: 1rem;
	caret-color: transparent;
	max-width: 20rem;
	overflow: scroll;
	min-height: 1.5rem;
	background: var(--space-gray);
	margin-bottom: 2rem;
	border-radius: 1px;
	color: white;
	display: flex;
	align-items: center;
}
@keyframes blink {
	0% {
		opacity: 0;
	}
	49.9999% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	99.9999% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
#password-input::after {
	content: "█";
	animation: blink 1s linear infinite;
	user-select: none;
}
#password-input:focus {
	outline: 3px solid var(--accent);
}

#description,#battledesc {
	font-size: 1.3rem;
	line-height: 1.5rem;
}
#description t-t {
	position: relative;
	animation: var(--type-anim);
	/* opacity: 0; */
}

#choices {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

#choices button {
	background-color: var(--accent);
	color: white;
	font: inherit;
	border: none;
	cursor: pointer;
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
	transition: background-color .2s, color .2s;
	animation: var(--type-anim);
	/* pointer-events: none;
	opacity: 0; */
	position: relative;
}

#choices button:hover {
	background-color: var(--light-accent);
	color: var(--blark)
}

p {
	white-space: pre-wrap;
}

html:has(#powpow) {
	transition: filter 3s;
	filter: grayscale() contrast(1.5);
}

.GO_AWAY {
	display: none;
}

.hide-by-defualt {
	display: none;
}

.no-come-back-i-am-sorry {
	display: block;
}

.item.has-lore {
	text-decoration: underline dotted;
	cursor: help;
	position: relative;
}

.lore {
	display: none;
}

.item.has-lore:hover .lore {
	/* content: attr(data-lore); */
	display: block;
	cursor: auto;
	position: absolute;
	left: 0;
	top: 100%;
	background-color: var(--light-accent);
	color: var(--blark);
	transition: color .5s, background-color .5s;
	padding: 5px;
	/* min-width: 100px; */
	/* max-width: 400px; */
	width: 250px;
	font-style: italic;
}

.button-container {
	display: flex;
}

.space {
	font-size: 0;
}

#person {
	color: white;
	display: inline-block;
	font-size: 20px;
	/* line-height: 1; */
	margin: 0;
	/* animation: none .5s infinite; */
	position: relative;
}

.botton {
	border: 1px solid black;
	background-color: white;
	padding: 5px 10px;
	color: black;
	font: inherit;
	position: relative;
}
.botton:disabled {
	background-color: #ccc;
}
.botton:disabled:before {
	content: '';
	animation: cooldown var(--time) linear;
	position: absolute;
	left:0;top:0;bottom:0;
	background-color: rgba(0, 0, 0, 0.5);
}

@keyframes person-attack {
	0%,	100% {
		left: 0;
	}

	30% {
		left: calc(100% - 130px);
	}
}
@keyframes enemy-attack {
	0%,	100% {
		right: 0;
	}

	30% {
		right: calc(100% - 130px);
	}
}

@keyframes cooldown {
0% {width: 100%;}
100% {width: 0%;}
}

#showdown {
	display: flex;
	justify-content: space-between;
}

#enemy {
	height: 60px;
	position: relative;
}
#enemy img {
	height: 100%;
}

.damage {
	white-space: pre;
	color: white;
	text-shadow: 0 0.1em 0 red, 0 -0.1em 0 red, 0 0 5px black;
	position: absolute;
	bottom: 100%;
	left: 50%;
	animation: damage .5s forwards
}

.healthbars {
	display: flex;
	gap: 10px;
	margin-bottom: 20px;
}
.healthbar {
	flex: 1 0 0;
	background-color: black;
	border: 3px solid black;
	--health: 80%;
	height: 20px;
}
#therehealth::before {
margin-left: auto;}
.healthbar::before {
	content: '';
	display: block;
	height: 100%;
	width: var(--health);
	background-color: red;
}
.weapon {
	display: none;
}
.armed .weapon {
	display: block;
}

#quests {
	list-style: none;
	position: relative;
}
#quests input {
	position: absolute;
	left: 0;
}
.done {
	text-decoration: line-through;
}
.nope {
	padding: 20px;
	padding-right: 25px;
	font-size: 30px;
	border: 2px solid white;
	background-color: black;
	color: white;
	filter: grayscale();
	position: fixed;
	top: 50%;left:50%;
	transform: translate(-50%, -50%);
	font-family: sans-serif;
}
