/* https://colorhunt.co/palette/09122c872341be3144e17564 */
:root {
	color-scheme: dark;
	accent-color: var(--accent);
	--light-accent: #E17564;
	--accent: #BE3144;
	--dark-accent: #872341;
	--blark: #09122C;
	--space-grey: #2e2e2e;
	--space-gray: #242424;
}

.northernProperty {
	/* https://colorhunt.co/palette/1235243e7b2785a947efe3c2 */
	--light-accent: #EFE3C2;
	--accent: #85A947;
	--dark-accent: #3E7B27;
	--blark: #123524;
}

.fountainRats {
	/* https://colorhunt.co/palette/f7f7f7ffb22c854836000000 */
	--light-accent: #F7F7F7;
	--accent: #FFB22C;
	--dark-accent: #854836;
	--blark: #000000;
}

body {
	color: var(--light-accent);
	background-color: var(--blark);
	transition: color .5s, background-color .5s;
	margin: 0;
	padding: 0;
	font-family: Georgia, Garamond, 'Times New Roman', Times, serif;
}

#div {
	width: 600px;
	margin: 1in auto;
	padding: 2em;
	background-color: var(--dark-accent);
	transition:  background-color .5s;
	border-radius: 0.5em;
	resize: both;
}

button:not(:disabled){cursor: pointer;}

a {
	color: cyan;
	text-decoration: none;
}

nav a {
	color: var(--light-accent);
	transition:  color .5s;

}

@media (max-width: 700px) {
	#div {
		margin: 1in 10px;
		width: auto;
	}
}

#location {
	color: orange;
	font-style: italic;
}

@keyframes type {
	0% {
		opacity: 0;
		top: -10px;
		pointer-events: none;
	}
	99.99% {
		pointer-events: none;
	}
	100% {
		opacity: 1;
		top: 0;
		pointer-events: all;
	}
}
:root {
	--type-anim: type 0.1s forwards ease-in-out;
}

nav {
	margin-top: -60px;
	margin-bottom: 40px;
	color: var(--dark-accent);
	transition:  color .5s;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#description,#battledesc {
	font-size: 1.3rem;
	line-height: 1.5rem;
}
#description t-t {
	position: relative;
	animation: var(--type-anim);
	opacity: 0;
}

#choices {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

#choices button {
	background-color: var(--accent);
	color: white;
	font: inherit;
	border: none;
	cursor: pointer;
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
	transition: background-color .2s, color .2s;
	animation: var(--type-anim);
	pointer-events: none;
	opacity: 0;
}

#choices button:hover {
	background-color: var(--light-accent);
	color: var(--blark)
}

p {
	white-space: pre-wrap;
}

html:has(#powpow) {
	transition: filter 3s;
	filter: grayscale() contrast(1.5);
}

.GO_AWAY {
	display: none;
}

.hide-by-defualt {
	display: none;
}

.no-come-back-i-am-sorry {
	display: block;
}

.item.has-lore {
	text-decoration: underline dotted;
	cursor: help;
	position: relative;
}

.lore {
	display: none;
}

.item.has-lore:hover .lore {
	/* content: attr(data-lore); */
	display: block;
	cursor: auto;
	position: absolute;
	left: 0;
	top: 100%;
	background-color: var(--light-accent);
	color: var(--blark);
	transition: color .5s, background-color .5s;
	padding: 5px;
	/* min-width: 100px; */
	/* max-width: 400px; */
	width: 250px;
	font-style: italic;
}

.button-container {
	display: flex;
}

.space {
	font-size: 0;
}

#person {
	color: white;
	display: inline-block;
	font-size: 20px;
	/* line-height: 1; */
	margin: 0;
	/* animation: none .5s infinite; */
	position: relative;
}

.botton {
	border: 1px solid black;
	background-color: white;
	padding: 5px 10px;
	color: black;
	font: inherit;
	position: relative;
}
.botton:disabled {
	background-color: #ccc;
}
.botton:disabled:before {
	content: '';
	animation: cooldown var(--time) linear;
	position: absolute;
	left:0;top:0;bottom:0;
	background-color: rgba(0, 0, 0, 0.5);
}

@keyframes person-attack {
	0%,	100% {
		left: 0;
	}

	30% {
		left: calc(100% - 130px);
	}
}
@keyframes enemy-attack {
	0%,	100% {
		right: 0;
	}

	30% {
		right: calc(100% - 130px);
	}
}

@keyframes cooldown {
0% {width: 100%;}
100% {width: 0%;}
}

#showdown {
	display: flex;
	justify-content: space-between;
}

#enemy {
	height: 60px;
	position: relative;
}
#enemy img {
	height: 100%;
}

.damage {
	white-space: pre;
	color: white;
	text-shadow: 0 0.1em 0 red, 0 -0.1em 0 red, 0 0 5px black;
	position: absolute;
	bottom: 100%;
	left: 50%;
	animation: damage .5s forwards
}

.healthbars {
	display: flex;
	gap: 10px;
	margin-bottom: 20px;
}
.healthbar {
	flex: 1 0 0;
	background-color: black;
	border: 3px solid black;
	--health: 80%;
	height: 20px;
}
#therehealth::before {
margin-left: auto;}
.healthbar::before {
	content: '';
	display: block;
	height: 100%;
	width: var(--health);
	background-color: red;
}
.weapon {
	display: none;
}
.armed .weapon {
	display: block;
}

#quests {
	list-style: none;
	position: relative;
}
#quests input {
	position: absolute;
	left: 0;
}
.done {
	text-decoration: line-through;
}
.nope {
	padding: 20px;
	padding-right: 25px;
	font-size: 30px;
	border: 2px solid white;
	background-color: black;
	color: white;
	filter: grayscale();
	position: fixed;
	top: 50%;left:50%;
	transform: translate(-50%, -50%);
	font-family: sans-serif;
}
